.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(88, 145, 155);
    padding: 10px;
    z-index: 2;
 
  }

  .center-inner {
    margin: auto;
    width: 50%;
    padding: 10px;
    z-index: 2;
  }

  .container {
    position: relative;
    text-align: center;
    
  }

  